.black-border {
    border: 2px solid black;
    
}

.profile-section {
    min-height: 20rem;
}

.cover-photo {
    min-height: 15rem;
}

.profile-photo {
    height: 10rem;
    width: 10rem;
}

.cover-buttons {
    background-color: white;
    border: 0.3rem solid white;
    margin: auto;
}

.main-content {
    margin-top: 5rem;
    min-height: 70rem;
}

.main-content-secondary {
    margin-top: 5rem;
    min-height: 70rem;
    width: 50%;
}

